*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#0f172a;
  color:#e5e7eb;
}

.container{
  width:90%;
  max-width:980px;
  margin:auto;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 0;
  flex-wrap:wrap;
}

.logo{
  color:#38bdf8;
  font-weight:bold;
}

nav a{
  margin-left:16px;
  text-decoration:none;
  color:#e5e7eb;
}

.hero{
  padding:60px 0;
  display:grid;
  grid-template-columns:220px 1fr;
  gap:25px;
  align-items:center;
}

.profile-img{
  width:100%;
  border-radius:12px;
  border:2px solid #1f2937;
}

.hero h1{
  font-size:34px;
  margin-bottom:8px;
}

.hero h1 span{
  color:#38bdf8;
}

.hero p{
  color:#cbd5e1;
  margin-bottom:14px;
}

.btn{
  display:inline-block;
  padding:10px 16px;
  border-radius:8px;
  background:#38bdf8;
  color:#0f172a;
  text-decoration:none;
  font-weight:bold;
}

.section{
  padding:45px 0;
}

.section-title{
  font-size:24px;
  margin-bottom:18px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(260px,1fr));
  gap:18px;
}

.card{
  padding:16px;
  border-radius:10px;
  background:#020617;
  border:1px solid #1f2937;
}

.link-btn{
  display:inline-block;
  margin-top:10px;
  padding:8px 14px;
  border-radius:8px;
  background:#38bdf8;
  color:#0f172a;
  text-decoration:none;
  font-weight:bold;
}

.skills-list{
  list-style:square;
  padding-left:18px;
  color:#cbd5e1;
}

footer{
  text-align:center;
  padding:20px;
  color:#94a3b8;
  border-top:1px solid #1f2937;
  margin-top:20px;
}


/* Mobile Responsive */
@media(max-width:700px){
  .hero{
    grid-template-columns:1fr;
    text-align:left;
  }
  .hero h1{font-size:26px;}
}
